@using System.Linq.Expressions
@using System.Reflection
@using CoreBlazor.Configuration
@using CoreBlazor.Utils
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.DependencyInjection
@typeparam TContext where TContext : Microsoft.EntityFrameworkCore.DbContext
@typeparam TEntity where TEntity : class
@implements IAsyncDisposable
@inject IDbContextFactory<TContext> ContextFactory;
@inject NavigationManager NavigationManager;
@inject CoreBlazorDbSetOptions<TContext,TEntity>? DbSetOptions;
<Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="@($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}/Create")">
    Add New Entity
</Button>
<Grid TItem="TEntity" DataProvider="GetEntities"
      Class="table table-hover table-bordered table-striped"
      AllowFiltering="true"
      AllowSorting="true"
      AllowPaging="true"
      Responsive="true"
      AllowRowClick="true"
      OnRowDoubleClick="@GoToEntityEditorPage"
      PageSize="20">
    <GridColumns>
        @foreach (var prop in typeof(TEntity).GetProperties().Where(x => x.IsDisplayable() &&
                (!DbSetOptions?.HiddenProperties.Any(y => y.Name == x.Name && y.PropertyType == x.PropertyType) ?? true)))
        {
            <GridColumn TItem="TEntity" HeaderText="@prop.Name" PropertyName="@prop.Name" Filterable="@IsFilterable(prop)" Sortable="@IsSortable(prop)" SortString="@prop.Name" SortKeySelector="prop.GetMemberAccessExpressionWithConversion<TEntity, IComparable>()">
                @if (_context.IsNavigation<TEntity>(prop))
                {
                    <DynamicComponent Type="typeof(NavigationPropertyColumnViewerComponent<,,>).MakeGenericType(typeof(TContext),typeof(TEntity), prop.PropertyType)"
                                      Parameters="@(new Dictionary<string,object>{
                                                                                          {nameof(NavigationPropertyColumnViewerComponent<DbContext,object,object>.Entity), @context},
                                                                                                                        {nameof(NavigationPropertyColumnViewerComponent<DbContext,object,object>.PropertyName), prop.Name}
                              })" />
                        }
                else
                {
                    @prop.GetValue(@context)
                }
            </GridColumn>
        }
    </GridColumns>
</Grid>

@code {

    private TContext _context;

    protected override async Task OnParametersSetAsync()
    {
        _context = await ContextFactory.CreateDbContextAsync();
        await base.OnParametersSetAsync();
    }


    private async Task<GridDataProviderResult<TEntity>> GetEntities(GridDataProviderRequest<TEntity> request)
    => await _context.ApplyTo<TEntity>(request)
                     .ConfigureAwait(false);

    private bool IsFilterable(PropertyInfo prop)
    {
        var context = ContextFactory.CreateDbContext();
        return !context.IsNavigation<TEntity>(prop);
    }

    private bool IsSortable(PropertyInfo prop)
    {
        return typeof(IComparable).IsAssignableFrom(prop.PropertyType);
    }

    public async ValueTask DisposeAsync()
        => await _context.DisposeAsync();

    private Task GoToEntityEditorPage(GridRowEventArgs<TEntity> args)
    {
        var primaryKey = _context.GetPrimaryKey<TEntity>();
        NavigationManager.NavigateTo($"/DbContext/{typeof(TContext).Name}/DbSet/{typeof(TEntity).Name}/Edit/{primaryKey.PropertyInfo!.GetValue(args.Item)}");
        return Task.CompletedTask;
    }
}
