@using CoreBlazor.Configuration
@using CoreBlazor.Utils
@using Microsoft.EntityFrameworkCore
@using System.Reflection
@using Microsoft.Extensions.DependencyInjection
@typeparam TEntity where TEntity : class
@typeparam TProperty where TProperty : class
@typeparam TContext where TContext : DbContext
@implements IAsyncDisposable
@inject IDbContextFactory<TContext> ContextFactory
@inject CoreBlazorDbSetOptions<TContext,TProperty>? DbSetOptions

<Grid TItem="TProperty" DataProvider="GetEntities"
      Class="table table-hover table-bordered table-striped"
      AllowFiltering="true"
      AllowSorting="true"
      AllowPaging="true"
      Responsive="true"
      AllowRowClick="false"
      PageSize="20">
    <GridColumns>
        <GridColumn TItem="TProperty" Filterable="false" Sortable="false">
            <Button @onclick="_ => SelectButtonClicked(context)" Color="ButtonColor.Primary">
                Select
            </Button>
        </GridColumn>
        @foreach (var prop in typeof(TProperty).GetProperties().Where(x => x.IsDisplayable() &&
                (!DbSetOptions?.HiddenProperties.Any(y => y.Name == x.Name && y.PropertyType == x.PropertyType) ?? true)))
        {
            <GridColumn TItem="TProperty" HeaderText="@prop.Name" PropertyName="@prop.Name" Filterable="@IsFilterable(prop)" Sortable="@IsSortable(prop)" SortString="@prop.Name" SortKeySelector="prop.GetMemberAccessExpressionWithConversion<TProperty, IComparable>()">
                @if (_context.IsNavigation<TEntity>(prop))
                {
                    <DynamicComponent Type="typeof(NavigationPropertyColumnViewerComponent<,,>).MakeGenericType(typeof(TContext),typeof(TEntity), prop.PropertyType)"
                                      Parameters="@(new Dictionary<string,object>{
                                                                                                                        {nameof(NavigationPropertyColumnViewerComponent<DbContext,object,object>.Entity), @context},
                                                                                                                                                      {nameof(NavigationPropertyColumnViewerComponent<DbContext,object,object>.PropertyName), prop.Name}
                                                            })" />
                        }
                else if (DbSetOptions?.DisplayTypes.SingleOrDefault(x => x.Key.Name == prop.Name && x.Key.PropertyType == prop.PropertyType) is { Value: { } displayType })
                {
                    <DynamicComponent Type="displayType" Parameters="new Dictionary<string, object>{
                                                                                                            {nameof(IPropertyDisplayComponent<TEntity>.PropertyValue),prop.GetValue(context)}
                                                                                                        }" />
                        }
                else
                {
                    @prop.GetValue(@context)
                }
            </GridColumn>
        }
    </GridColumns>
</Grid>
@code {
    private TContext _context;

    [Parameter]
    public string NavigationPropertyName { get; set; }

    [Parameter]
    public EventCallback PropertySelected { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _context = await ContextFactory.CreateDbContextAsync();
        await base.OnParametersSetAsync();
    }

    private async Task<GridDataProviderResult<TProperty>> GetEntities(GridDataProviderRequest<TProperty> request)
        => await _context.ApplyTo<TProperty>(request);

    private bool IsFilterable(PropertyInfo prop)
    {
        return !_context.IsNavigation<TEntity>(prop);
    }

    private bool IsSortable(PropertyInfo prop)
    {
        return typeof(IComparable).IsAssignableFrom(prop.PropertyType);
    }

    public async ValueTask DisposeAsync()
        => await _context.DisposeAsync();

    private void SelectButtonClicked(TProperty entity)
    {
        PropertySelected.InvokeAsync(entity);
    }
}
