@using System.Reflection
@using CoreBlazor.Configuration
@using CoreBlazor.Interfaces
@using CoreBlazor.Utils
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Metadata
@using Microsoft.Extensions.DependencyInjection
@typeparam TContext where TContext : DbContext
@typeparam TEntity where TEntity : class
@implements IAsyncDisposable
@inject IDbContextFactory<TContext> ContextFactory
@inject IServiceProvider ServiceProvider

@if (SelectingNavigationProperty is null)
{

    @foreach (var property in typeof(TEntity).GetProperties().Where(property => property.IsDisplayable() &&
                            (!DbSetOptions?.HiddenProperties.Any(y => y.Name == property.Name && y.PropertyType == property.PropertyType) ?? true) && !_context.IsGeneratedPrimaryKey<TEntity>(property)))
    {
        if (DbSetOptions?.EditingTypes.SingleOrDefault(x => x.Key.Name == property.Name && x.Key.PropertyType == property.PropertyType) is { Value: Type displayType })
        {
            <DynamicComponent Type="displayType"
                              Parameters="@CreatePropertyEditComponentParameters(property)" />
            continue;
        }

        if (property.PropertyType == typeof(bool))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <CheckboxInput TValue="bool" Value="@((bool)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, bool>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="bool" For="@(property.GetValueAccessExpression<TEntity, bool>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(int))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="int" Value="@((int)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, int>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="int" For="@(property.GetValueAccessExpression<TEntity, int>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(uint))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="uint" Value="@((uint)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, uint>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="uint" For="@(property.GetValueAccessExpression<TEntity, uint>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(short))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="short" Value="@((short)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, short>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="short" For="@(property.GetValueAccessExpression<TEntity, short>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(ushort))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="ushort" Value="@((ushort)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, ushort>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="ushort" For="@(property.GetValueAccessExpression<TEntity, ushort>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(long))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="long" Value="@((long)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, long>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="long" For="@(property.GetValueAccessExpression<TEntity, long>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(ulong))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="ulong" Value="@((ulong)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, ulong>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="ulong" For="@(property.GetValueAccessExpression<TEntity, ulong>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(float))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="float" Value="@((float)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, float>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="float" For="@(property.GetValueAccessExpression<TEntity, float>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(double))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <NumberInput TValue="double" Value="@((double)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, double>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="double" For="@(property.GetValueAccessExpression<TEntity, double>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(DateTime))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <DateInput TValue="DateTime" Value="@((DateTime)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, DateTime>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="DateTime" For="@(property.GetValueAccessExpression<TEntity, DateTime>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(DateOnly))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <DateInput TValue="DateOnly" Value="@((DateOnly)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, DateOnly>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="DateOnly" For="@(property.GetValueAccessExpression<TEntity, DateOnly>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType == typeof(string))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10">
                    <TextInput Value="@((string)property.GetValue(Entity)!)" ValueExpression="property.GetValueAccessExpression<TEntity, string>(Entity)" ValueChanged="@(value => property.SetValue(Entity, value))" disabled="@IsDisabled" />
                    <ValidationMessage TValue="string" For="@(property.GetValueAccessExpression<TEntity, string>(Entity))" />
                </div>
            </div>
        }
        if (property.PropertyType.IsEnum)
        {
            <DynamicComponent Type="@CreateEnumEditorComponentType(property)"
                              Parameters="@CreateEnumEditorComponentParameters(property)" />
    }
        if (_navigations.Any(navigation => navigation.PropertyInfo.Name == property.Name && navigation.PropertyInfo.PropertyType == property.PropertyType))
        {
            <div class="form-group row mb-3">
                <label class="col-md-2 col-form-label">@property.Name</label>
                <div class="col-md-10 container">
                    <div class="row">
                        <div class="col-sm" type="text" readonly>
                            <DynamicComponent Type="@CreateNavigationPropertyColumnViewerComponentType(property)"
                                              Parameters="@CreateNavigationPropertyColumnViewerComponentParameters(property)" />
            </div>
            @if (!IsDisabled)
            {
                            <Button class="col-sm   col-lg-3" Color="ButtonColor.Primary" @onclick="_ => InitiateNavigationSelection(property)">Select</Button>
            }
                    </div>
                </div>
            </div>
        }
    }

}
else
{
    <Button @onclick="_ => SelectingNavigationProperty = null" Color="ButtonColor.Secondary">Cancel selection</Button>
    <DynamicComponent Type="@CreateNavigationPropertyEditorType(SelectingNavigationProperty)"
                      Parameters="@CreateNavigationPropertyEditorParameters(SelectingNavigationProperty)" />
}
@code {
    private TContext _context;
    private List<INavigation> _navigations;

    public CoreBlazorDbSetOptions<TContext, TEntity>? DbSetOptions { get; set; }

    [Parameter]
    public TEntity Entity { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; } = false;

    public PropertyInfo? SelectingNavigationProperty { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        DbSetOptions = ServiceProvider.GetService<CoreBlazorDbSetOptions<TContext, TEntity>>();
        _context = await ContextFactory.CreateDbContextAsync();
        _navigations = _context.GetNavigations<TEntity>().ToList();
    }

    private Dictionary<string, object> CreatePropertyEditComponentParameters(PropertyInfo property)
        => new Dictionary<string, object>{
            {nameof(IPropertyEditComponent<TEntity>.Entity), Entity},
            {nameof(IPropertyEditComponent<TEntity>.ValueSelected), EventCallback.Factory.Create(this,x=> property.SetValue(Entity,x))},
            {nameof(IPropertyEditComponent<TEntity>.IsDisabled), IsDisabled}
        };

    private Type CreateEnumEditorComponentType(PropertyInfo property)
        => typeof(EnumPropertyEditorComponent<,>).MakeGenericType(typeof(TEntity), property.PropertyType);

    private Dictionary<string, object> CreateEnumEditorComponentParameters(PropertyInfo property)
        => new Dictionary<string, object>{
            {nameof(EnumPropertyEditorComponent<TEntity,object>.Entity), Entity},
            {nameof(EnumPropertyEditorComponent<TEntity,object>.PropertyName), property.Name},
            {nameof(EnumPropertyEditorComponent<TEntity,object>.IsDisabled), IsDisabled}
        };

    private Type CreateNavigationPropertyColumnViewerComponentType(PropertyInfo property)
        => typeof(NavigationPropertyColumnViewerComponent<,,>).MakeGenericType(typeof(TContext), typeof(TEntity), property.PropertyType);

    private Dictionary<string, object> CreateNavigationPropertyColumnViewerComponentParameters(PropertyInfo property)
        => new Dictionary<string, object>{
            {nameof(NavigationPropertyColumnViewerComponent<DbContext,object,object>.Entity), Entity},
            {nameof(NavigationPropertyColumnViewerComponent<DbContext,object,object>.PropertyName), property.Name}
        };

    private Type CreateNavigationPropertyEditorType(PropertyInfo propertyInfo)
        => typeof(NavigationPropertyEditorComponent<,,>).MakeGenericType(typeof(TEntity), propertyInfo.PropertyType, typeof(TContext));

    private Dictionary<string, object> CreateNavigationPropertyEditorParameters(PropertyInfo propertyInfo)
        => new Dictionary<string, object>{
            { nameof(NavigationPropertyEditorComponent<object, object, DbContext>.NavigationPropertyName), propertyInfo.Name},
            { nameof(NavigationPropertyEditorComponent<object, object, DbContext>.PropertySelected), EventCallback.Factory.Create(this, SelectionComplete)}
        };

    private void InitiateNavigationSelection(PropertyInfo property)
    {
        SelectingNavigationProperty = property;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
     => await _context.DisposeAsync();

    private void SelectionComplete(object type)
    {
        SelectingNavigationProperty?.SetValue(Entity, type);
        SelectingNavigationProperty = null;
        StateHasChanged();
    }
}
